{% extends "base.html" %}
{% block content %}
<h2>About us</h2>
<p>
    <p>BookTime is a company that sells books online.</p>
</p>
{% endblock %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Error incidunt molestiae minima, suscipit similique fuga laboriosam nam sed corporis architecto. Impedit saepe fuga neque omnis delectus doloribus excepturi ex veniam.
Eveniet debitis nobis modi quos placeat facere perferendis, animi cum, itaque eum dolor enim quis repellat veniam reiciendis vero laudantium ipsum minus odit in excepturi nesciunt. Dignissimos perferendis similique consequuntur?
Ex quia ad doloribus nisi soluta. Autem perferendis asperiores distinctio quis vitae, alias accusantium, neque accusamus eum quae rem! Eum sed sit in dicta? Vel accusantium facilis maxime eum nam.
Animi, dicta quia. Unde, commodi voluptatum. Sed temporibus tempora veritatis nesciunt harum accusamus facilis ab in alias minima fugit nobis eum, quia consequatur ex iste praesentium, exercitationem fugiat, porro quaerat.
Dignissimos aliquid sequi esse velit perferendis. Qui pariatur, deleniti tenetur architecto perspiciatis voluptas consequuntur incidunt quam quae cumque, facere molestias fugit, corporis repellendus est? Adipisci consequuntur architecto voluptatibus eveniet repellat?